[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 15.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 15.0

[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale.git
	branch = 15.0

[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 15.0

[submodule "ingadhoc/odoo-argentina-ee"]
	path = ingadhoc/odoo-argentina-ee
	url = git@github.com:ingadhoc/odoo-argentina-ee.git
	branch = 15.0

[submodule "ingadhoc/stock"]
	path = ingadhoc/stock
	url = git@github.com:ingadhoc/stock.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 15.0

[submodule "ingadhoc/product"]
	path = ingadhoc/product
	url = git@github.com:ingadhoc/product.git
	branch = 15.0

[submodule "ingadhoc/sale"]
	path = ingadhoc/sale
	url = git@github.com:ingadhoc/sale.git
	branch = 15.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 15.0

[submodule "ingadhoc/miscellaneous"]
	path = ingadhoc/miscellaneous
	url = git@github.com:ingadhoc/miscellaneous.git
	branch = 15.0
